body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  overflow-x: hidden;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.text-balance {
  text-wrap: balance;
}
